/*.db
*.pdb
/Binaries/Win64/*.pdb
/Binaries/Win64/*.hotreload
/Binaries/Win64/*.modules
/Binaries/Win64/*.target
/.vs
/*.sln
/Saved
/Binaries/Win64/UE4Editor-Vert-Win64-DebugGame.dll
/Intermediate
*DebugGame.dll
/*.opendb
/Content/2DSideScrollerCPP/Maps/*.tmp0
/Binaries/Win64/Vert.exe
/Binaries/Win64/Vert.exp
/Binaries/Win64/Vert.lib
/Content/Developers/Squib/Collections/Testing
*Vert-*.pdb
*Vert-*.dll
/Content/Level/MountainLevel_Alpha_V3_BuiltData.uasset
/Plugins/Wwise/Intermediate
/vert_WwiseProject/.cache
/vert_WwiseProject/*.validationcache
/Plugins/Wwise
/Plugins.7z
