/*.db
/Binaries/Win64/*.pdb
/Binaries/Win64/*.hotreload
/Binaries/Win64/*.modules
/Binaries/Win64/*.target
/.vs
/*.sln
/Saved
/Binaries/Win64/UE4Editor-Vert-Win64-DebugGame.dll
/Intermediate
*DebugGame.dll
/*.opendb
/Content/2DSideScrollerCPP/Maps/*.tmp0
